* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: block;
    align-items: center;
    text-align: center;
}

body {
    font-family: "Roboto", sans-serif;
}

body .home {
    max-width: 800px;
    margin: 0 auto;
}

main {
    display: block;
}

h2,
h3,
h4 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.5rem;
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem;
}

.home ul {
    list-style-type: none;
}

section {
    border: 1px solid #463239;
    background-color: #D5DFE5;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

section h2 {
    background-color: #677DB7;
    color: white;
    display: block;
    text-align: center;
    padding: 0.75rem 0;
}

section p,
ul,
a {
    padding: .5rem;
}