* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto;
}


header {
    display: block;
    position: relative;
    column-gap: .25rem;
    padding: 20px;
    align-items: center;
}

header .top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: left;
    text-align: center;
    column-gap: .25rem;
    padding: 1rem;
}

header,
footer {
    background-color: #6B8F71;
    color: #000;
}

#shield {
    justify-self: center;
}

header #land {
    position: relative;
    max-width: 100%;
    justify-self: center;
}

header #registration {
    position: absolute;
    bottom: 50px;
    right: 40px;
}

h1,
h2,
h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

nav {
    background-color: #1D1E18;
    color: #fff;
}

nav ul {
    display: none;
    list-style-type: none;
    text-align: center;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}

ul.open {
    display: block;
}

nav a:hover {
    background-color: rgba(255, 255, 255, .4);
}

nav .active {
    background-color: rgba(255, 255, 255, .2);
}

#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: #fff;
    width: 100%;
    text-align: right;
    cursor: pointer;
    padding: .25rem 2vw;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

main {
    display: block;
}

main .card {
    border: 1px solid #D9FFF5;
    background-color: #AAD2BA;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.card h2 {
    background-color: #1D1E18;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

.card p {
    padding: 10px;
}

#wheater p {
    text-align: center;
}

footer {
    display: block;
    text-align: center;

}