@media screen and (min-width : 650px) {
    main .principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: .5rem;
    }

    #menu {
        display: none;
    }

    nav ul {
        display: flex;
    }

    ul.menuItems a {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #news {
        grid-column: 1 / 3;
    }

    div.container {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    div .sidebar {
        grid-column: 1 / 2;
    }

    .photos img {
        width: 100%;
        height: auto;
    }

    .photos img:hover {
        box-shadow: 0 0 50px #333;
    }

    main .join {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: .5rem;
    }

    main .card {
        height: fit-content;
    }

    #cards.list .card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
    }

    #cards.list .card>* {
        margin: 1rem 0;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    #cards.list h3 {
        font-size: .8rem;
        width: 100%;
        max-width: 200px;
    }

    #cards.list p {
        width: 100%;
        font-size: .6rem;
        align-content: center;
        padding: 0;
    }

    #forecast {
        grid-column: 2/3;
    }
}