/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

h1{
    font-family:'Kanit', sans-serif;
    justify-self:center;
    
  }
h2, h3, h4, h5, h6{
  font-family:"IM Fell French Canon SC", Arial, sans-serif;
  justify-self:center;
  
}

body {
  background-color: aqua;
  font-family: "Work Sans", Helvetica, sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0 auto;
}
div {
  padding:1em;
}
img {
  max-width:100%;
}
#content {
  max-width:960px;
  margin:0 auto;
}

main {
  background-color:white;
  display:grid;
  grid-template-columns:repeat(5, 1fr);
  grid-gap:30px;
}
.banner-box {
    grid-column: 1 / 6;
}

.home-grid {
    grid-column: 1 / 6;
}

header {
  background-color: rgba(0, 0, 255, 0.692);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

footer {
  background-color: blue;
  color: white;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr;
}

.logo-box {
  grid-column: 1 / 2;
}

.myName {
  color: white;
  grid-column: 3 / 6;
}

footer div {
  justify-self: center;
}